## Merge TXT files and Convert to CSV
## Automatically merge txt files based on column position and convert to CSV

In [1]:
import os
import pandas as pd

In [2]:
# Test to explore file
#txt_file = 'DesmatamentoMunicipios2000.txt'
#encoding_type = 'ISO-8859–1'

#dataset=pd.read_csv(txt_file,encoding=encoding_type)
#dataset.head()

In [3]:
# Set the path to the files that you want to process (or use the current path)

path = os.getcwd()
#path = "C:\\Users\\Ricardo\\Desktop\\dados"
files = os.listdir(path)

# Set the encoding type
encoding_type = 'ISO-8859–1'

In [4]:
path

'C:\\Users\\Ricardo\\Desktop\\dados'

In [5]:
files_txt = [f for f in files if f[-3:] == 'txt']

files_txt

['DesmatamentoMunicipios2000.txt',
 'DesmatamentoMunicipios2001.txt',
 'DesmatamentoMunicipios2002.txt',
 'DesmatamentoMunicipios2003.txt',
 'DesmatamentoMunicipios2004.txt',
 'DesmatamentoMunicipios2005.txt',
 'DesmatamentoMunicipios2006.txt',
 'DesmatamentoMunicipios2007.txt',
 'DesmatamentoMunicipios2008.txt',
 'DesmatamentoMunicipios2009.txt',
 'DesmatamentoMunicipios2010.txt',
 'DesmatamentoMunicipios2011.txt',
 'DesmatamentoMunicipios2012.txt',
 'DesmatamentoMunicipios2013.txt',
 'DesmatamentoMunicipios2014.txt',
 'DesmatamentoMunicipios2015.txt',
 'DesmatamentoMunicipios2016.txt',
 'DesmatamentoMunicipios2017.txt',
 'DesmatamentoMunicipios2018.txt']

In [6]:
all_data = []
for f in files_txt:
    info = pd.read_csv(f,encoding=encoding_type,header=None,skiprows=1)
    info['File'] = str(f[-8:-4])
    all_data.append(info)

In [7]:

df = pd.concat(all_data, ignore_index=True, sort=False)
df.columns =['Nr','Lat','Long','Latgms','Longms','Municipio','CodIbge','Estado',\
             'AreaKm2','DesmatadoAno','IncrementoAnoAnt','FlorestaAno','NuvemAno',\
             'NaoObservadoAno','NaoFlorestaAno','HidrografiaAno','Soma','Ano']

In [8]:
df.columns

Index(['Nr', 'Lat', 'Long', 'Latgms', 'Longms', 'Municipio', 'CodIbge',
       'Estado', 'AreaKm2', 'DesmatadoAno', 'IncrementoAnoAnt', 'FlorestaAno',
       'NuvemAno', 'NaoObservadoAno', 'NaoFlorestaAno', 'HidrografiaAno',
       'Soma', 'Ano'],
      dtype='object')

In [9]:
df.shape

(14440, 18)

In [10]:
df.head()

,Nr,Lat,Long,Latgms,Longms,Municipio,CodIbge,Estado,AreaKm2,DesmatadoAno,IncrementoAnoAnt,FlorestaAno,NuvemAno,NaoObservadoAno,NaoFlorestaAno,HidrografiaAno,Soma,Ano
0,1,-3.12356,-47.40354,S 3 7 24.82,O 47 24 12.74,Paragominas,1505502,PA,19465,7212.3,NaN,12208.2,0.0,1.4,7.1,36.0,100,2000
1,2,-7.46114,-52.46225,S 7 27 40.10,O 52 27 44.10,São Félix do Xingu,1507300,PA,84253,7037.4,NaN,72482.1,0.0,6.5,3788.0,939.0,100,2000
2,3,-5.52503,-49.94418,S 5 31 30.11,O 49 56 39.05,Marabá,1504208,PA,15161,5818.9,NaN,9218.2,0.0,1.7,36.2,86.0,100,2000
3,4,-11.22873,-57.64737,S 11 13 43.43,O 57 38 50.53,Juara,5105101,MT,22666,5520.7,NaN,15388.4,0.0,29.3,1600.6,127.0,100,2000
4,5,-4.29175,-45.93682,S 4 17 30.30,O 45 56 12.55,Santa Luzia,2110005,MA,6245,5373.3,NaN,871.3,0.0,0.4,0.0,0.0,100,2000

In [11]:
df.to_csv("dados-consolidados.csv", index = False, sep=';', encoding='utf-8')